.my-10 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.mt-10 {
    margin-top: 10vh;
}

.mt-15 {
    margin-top: 15vh;
}

.mb-15 {
    margin-bottom: 15vh;
}

.pt-15 {
    padding-top: 15vh;
}

.pt-10 {
    padding-top: 10vh;
}

.my-15 {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.py-10 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.py-15 {
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.bg-teal {
    background-color: #267A96;
}

.text-teal {
    color: #267A96;
}

.border-teal {
    border: 1px solid #267A96;
}

.btn:hover {
    background-color: #267A96;
    border: 0;
    color: white;
}

.navbar {
    font-family: 'Poppins';
    font-style: normal;
}

.nav-link {
    padding-left: 15px;
}

.nav-link:hover {
    background-color: rgba(38, 122, 150, 0.6);
}

.nav-link:focus-within {
    background-color: rgba(38, 122, 150, 0.6);
    color: white;
}

.nav-link,
.navbar-brand,
.dropdown-item {
    font-weight: bold;
    color: #267A96;
}

.navbar-brand:hover {
    color: #267A96;
}

.nav-link-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    min-width: 120px;
}

.active {
    background-color: #267A96;
    color: white;
}

.active:hover {
    background-color: #267A96;
    color: white;
}

.hero-bg-gradient {
    background: linear-gradient(180deg, rgba(38, 122, 150, 0.7) 5%, rgba(38, 122, 150, 0.35) 100%);
}

.hero-bg-image {
    /* background-image: url("images/hero-bg.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.hero-height {
    height: 75vh;
}

.about-hero {
    background: linear-gradient(180deg, rgba(38, 122, 150, 0.7) 5%, rgba(38, 122, 150, 0.35) 100%);
}

.about-hero-section {
    background-image: url("images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2838, 122, 150, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.fs-poppins {
    font-family: 'Poppins';
    font-style: normal;
}

.bg-silver {
    background-color: #FAFAFA;
}

.accordion-button {
    background-color: rgba(38, 122, 150, 0.2);
}

.accordion-button:focus {
    box-shadow: none;
    border: 0;
    background-color: rgba(38, 122, 150, 0.4);
    color: black;
}

.accordion-button:hover {
    box-shadow: none;
    border: 0;
    background-color: rgba(38, 122, 150, 0.4);
}

.fs-min {
    font-size: 0.8rem;
}

.fs-thin {
    font-size: 0.9rem;
}

.fs-auto {
    font-size: 0.9rem;
}

@media (min-width: 1200px) {
    .fs-auto {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fs-auto {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fs-auto {
        font-size: 1rem;
    }
}

.h-scrolling {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}